* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#tools {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    width: 600px;
    height: 100px;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
}

.input-div span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#number-squares {
    width: 50px;
}

#clear-button {
    width: 50%;
    padding: 10px;
}

#squares-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: black;
    gap: 1px;
    border: 5px solid black;
    border-radius: 5px;
    cursor: url(./images/pencil.png), auto;
}

.row-div {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1px;
}

.square {
    width: 100%;
    height: 100%;
    flex: 1 1 0;
}

#color-picker {
    display: flex;
    width: 600px;
    height: 140px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: whitesmoke;
    justify-content: space-evenly;
    align-items: center;
}

#color-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width: 80%;
}

.color-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.eraser-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.color-button {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.selected-color {
    border: 3px solid springgreen;
}

.hover-button {
    border: 3px solid springgreen;
    transition: all 0.5s;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#lightblue {
    background-color: lightblue;
}

#purple {
    background-color: purple;
}

#custom {
    transition: all 0.5s;
}

#custom-color-input {
    opacity: 0;
}