* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#squares-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: black;
    gap: 1px;
    border: 5px solid black;
    border-radius: 5px;
    cursor: url(./images/pencil.png), auto;
}

.row-div {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 1px;
}

.square {
    background-color: white;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
}

#color-picker {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 130px;
    border: 5px solid black;
    padding: 10px;
    background-color: whitesmoke;
}

.color-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.color-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.selected-color {
    border: 5px solid springgreen;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}